.centerPost {
  padding: 3rem 0 5rem;
  width: 90vw;
  max-width: 800px;
  margin: auto;
}

.centerPost img {
  width: 100%;
  margin: 2em auto;
  display: block;
}

.title {
  text-align: center;
  font-size: 2rem;
}

h1, h2, h3 {
  margin-top: 2em;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

.featuredImage {
  margin: 0 auto 2rem auto;
  width: 100%;
}

.beschreibung {
  font-size: 1rem;
  line-height: 1.3;
}

.beschreibung table {
  margin: 2rem auto;
  border-collapse: collapse;
}
.beschreibung td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}
.beschreibung th {
  background-color: #f0f0f0;
}

.beschreibung ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0 0.5rem 2rem 0.5rem;
  font-size: 0.9rem;
}

.beschreibung ul li {
  padding-left: 1rem;
}

.beschreibung ul li:before {
  content: '•'; /* Insert content that looks like bullets */
  padding-right: 8px;
  color: var(--clr-primary); /* Or a color you prefer */
}

.btn {
  background-color: var(--clr-primary);
  padding: 0.5rem 1rem;
  color: white;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1em;
  position: relative;
  display: inline-block;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  margin: 2rem 0;
}

a {
  text-decoration: underline;
  color: var(--clr-grey-1);
}

@media only screen and (max-width: 1450px) {
  .centerPost {
    padding: 2.5rem 0;
  }
}

@media only screen and (max-width: 650px) {
  .centerPost {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .centerPost img {
    width: 100%;
  }
}
