.contactBody {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.container {
  width: 80%;
  max-width: 600px;
  padding: 1.25rem;
}

.row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.col {
  width: 100%;
  padding: 0 0.8rem;
  margin: 1.5rem 0 0.8rem;
  transition: 0.5s;
}

.inputBox {
  position: relative;
  width: 100%;
  height: 2.25rem;
  color: var(--clr-primary);
}

.inputBox input,
.inputBox textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 1.2rem;
  padding: 0 1.25rem;
  z-index: 1;
  color: var(--clr-grey-1);
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 2.25rem;
  font-size: 1.25rem;
  padding: 0 1.2rem;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

input:focus + .text,
input:valid + .text {
  top: -35px;
  left: -10;
}

.line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: var(--clr-primary);
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

input:focus ~ .line,
input:valid ~ .line {
  height: 100%;
}

.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 0.8rem 0;
}

.textarea textarea {
  height: 100%;
  resize: none;
}

textarea:focus + .text,
textarea:valid + .text {
  top: -35px;
  left: -10;
}

textarea:focus ~ .line,
textarea:valid ~ .line {
  height: 100%;
}

input[type='submit'] {
  border: none;
  padding: 0.5rem 2.25rem;
  cursor: pointer;
  outline: none;
  background: var(--clr-primary);
  color: #fff;
  font-size: 1.25rem;
  border-radius: 2px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .col {
    margin: 1rem 0;
    padding: 0;
  }
}
