.contactContainer {
  display: flex;
  max-width: 800px;
  margin: 5rem auto;
}
.contactContainer h4 {
  font-size: 2rem;
  font-weight: 500;
}
.adressContainer {
  background-color: var(--clr-grey-1);
  color: white;
  width: 100%;
  padding: 1.25rem 2.5rem;
  border-radius: 10px 0 0 10px;
}
.formContainer {
  width: 100%;
  border-radius: 0 10px 10px 0;
  background: #f9f9f9;
  padding: 1.25rem 2.5rem;
}
.form {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 870px) {
  .contactContainer {
    flex-direction: column;
  }
  .adressContainer {
    width: auto;
    border-radius: 10px 10px 0 0;
  }
  .formContainer {
    width: auto;
    border-radius: 0 0 10px 10px;
  }
}
