/* section Digitaldruck */
.centerSliderOne {
  padding: 3rem 0;
  width: 90vw;
  max-width: 900px;
  margin: auto;
}

/* section Werbeträger */
.sectionBackgroundWT {
  background-color: var(--clr-bg-section-two);
}

/* section Webdesign */
.sectionBackgroundWD {
  background-color: var(--clr-bg-section-three);
}

/* wrapper for slider and images */
.sliderContainer {
  position: relative;
}

.rect {
  position: absolute;
  top: 10%;
  left: 0;
  background-color: var(--clr-primary);
  padding: 0 1.3rem;
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}
.rect:hover {
  transform: translateY(-2px);
  filter: brightness(110%);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.priceTag {
  position: absolute;
  bottom: 4px;
  right: 4px;
  border: 1px solid #f9f9f9;
  color: var(--clr-grey-4);
  font-size: 1.1rem;
  padding: 0.1rem 0.8rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: white;
}

@media only screen and (max-width: 1450px) {
  .sliderContainer {
    max-height: 450px;
  }
  .sliderContainer > div {
    height: 450px;
  }
  .centerSliderOne {
    padding: 2.5rem 0 7rem;
  }
}

@media only screen and (max-width: 650px) {
  .sliderContainer {
    max-height: 200px;
  }
  .sliderContainer > div {
    height: 200px;
  }
  .rect {
    font-size: 1rem;
    padding: 0 0.5rem;
  }
  .priceTag {
    font-size: 0.8rem;
    padding: 0 0.5rem;
  }
  .centerSliderOne {
    padding: 2.5rem 0 6rem;
  }
}
