.caretContainer {
  display: inline-block;
  position: relative;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.btn:hover {
  color: var(--clr-primary);
}

.menu {
  position: absolute;
  display: block;
  top: 2rem;
  background: white;
  border: 1px solid #f9f9f9;
  padding: 1rem 1rem 1rem 0.5rem;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.05);
}

.menu button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  color: var(--clr-grey-1);
  letter-spacing: var(--spacing);
  white-space: nowrap;
  margin: 0.5rem 0;
  display: block;
}

.menu button:hover {
  color: var(--clr-primary);
}
