.container {
  position: relative;
  text-align: center;
}

.infoBoxContainer {
  display: inline-block;
  margin: 0 auto;
}

.infoBox {
  display: none;
  position: absolute;
  left: 20%;
  right: 20%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 1rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.infoBoxContainer:hover .infoBox {
  display: block;
}
