.centerLeistungenContainer {
  padding: 1rem 0 5rem;
  width: 90vw;
  max-width: 1170px;
  margin: auto;
}

.categoryGrid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1rem;
  text-align: center;
  margin-top: 7rem;
}

.categoryGrid h2,
h3 {
  font-size: 1rem;
}

.imageGrid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 500px));
  justify-content: center;
  margin: 5rem auto 0 auto;
}

.imageContainer {
  transition: all 0.15s linear;
  position: relative;
}

.imageContainer:hover {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

.leistungTitle {
  position: absolute;
  bottom: 15px;
  left: 0;
  display: inline-block;
  background-color: var(--clr-primary);
  padding: 0 2rem;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
}
@media only screen and (max-width: 1450px) {
  .imageGrid {
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 650px) {
  .imageGrid {
    margin-top: 1rem;
  }
}
