.centerProdukt {
  padding: 3rem 0 5rem;
  width: 90vw;
  max-width: 800px;
  margin: auto;
}

.title {
  text-align: center;
  font-size: 2rem;
}

.produktContainer {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

.fImage {
  margin: 0 auto 2rem auto;
  max-width: 500px;
}

.beschreibung {
  font-size: 1rem;
  line-height: 1.3;
}

.beschreibung table {
  margin: 2rem auto;
  border-collapse: collapse;
}
.beschreibung td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}
.beschreibung th {
  background-color: #f0f0f0;
}

@media only screen and (max-width: 1450px) {
  .centerProdukt {
    padding: 2.5rem 0;
  }
}

@media only screen and (max-width: 650px) {
  .centerProdukt {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
