.sliderContainer {
  margin: 1rem 25px;
  /* width: 80%; */
}

.imageContainer {
  transition: all 0.15s linear;
  position: relative;
  margin: 0 1rem;
}

.imageContainer:hover {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

.leistungTitle {
  display: block;
  padding: 0 2rem;
  font-weight: 500;
  color: var(--clr-grey-5);
  letter-spacing: 1px;
  text-align: center;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 1450px) {
  .centerLeistungenContainer {
    padding-top: 2.5rem;
  }
  .imageGrid {
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 650px) {
  .centerLeistungenContainer {
    padding-top: 2rem;
  }
  .imageGrid {
    margin-top: 1rem;
  }
}
